html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000000;
}

.table-container {
    margin-left: 3rem; /* Memberikan margin di sekeliling kontainer tabel */
    margin-right: 3rem; /* Memberikan margin di sekeliling kontainer tabel */
    overflow-x: auto; /* Membuat kontainer bisa di-scroll secara horizontal jika tabel terlalu lebar */
}

table {
    width: 100%;
    border-collapse: collapse; /* Menghapus jarak antara border sel */
}

/* Mengatur gaya untuk baris tabel */
table tr:nth-child(even) {
    background-color: #f2f2f2; /* Memberikan latar belakang abu-abu pada baris genap */
}

/* Mengatur gaya untuk setiap sel tabel */
table th, table td {
    padding: 12px 15px; /* Menambah jarak di dalam sel */
    text-align: left; /* Menyelaraskan teks ke kiri */
    border-bottom: 1px solid #ddd; /* Menambahkan border bawah pada setiap sel */
}

/* Menambahkan warna latar belakang pada header */
table th {
    background-color: #4CAF50; /* Warna latar belakang header */
    color: white; /* Warna teks di header */
    font-size: 16px;
}

/* Menambahkan efek hover pada baris tabel */
table tr:hover {
    background-color: #ddd; /* Mengubah latar belakang saat baris di-hover */
}

/* Membuat sel header lebih besar */
table th {
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    display: flex;
    height: 100vh;
}

.container-auth {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.side {
    width: 20%;
    border-right: 2px solid #e1e4e8;
    background-color: #ffffff;
    overflow-y: auto;
    transition: width 0.3s;
}

.side-header{
    height: 3.75rem;
    border-bottom: 2px solid #e1e4e8;
    background-color: #f8f9fa;
}

.side-header .svg-icon {
    height: 2.5rem;          /* Example height */
    width: 2.5rem;            /* Maintain aspect ratio */
    border-radius: 50%;     /* Make it round */
    object-fit: cover;      /* Ensure it covers the area */
    margin-right: 0.5rem;
}

.side-menu {
    height: 2.75rem;
    border-bottom: 2px solid #e1e4e8;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.side-menu-link {
    display: block;
    text-decoration: none;
}

.side-menu-icon-container {
    width: 3.75rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side.collapsed {
    width: 3.75rem;
}

.side.collapsed .side-header span {
    display: none;
}

.side.collapsed .side-header .svg-icon {
    margin-right: 0;
}

.side.collapsed .side-menu span {
    display: none;;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
}

.main-content.expanded {
    width: calc(100% - 3.75rem);
}

.header {
    height: 3.75rem;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 2px solid #e1e4e8;
}

.header-auth {
    height: 3.75rem;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 2px solid #e1e4e8;
    display: flex;
    align-items: center;
    position: relative;
}

.side-toggle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 8px;
    background-color: #f8b739;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.side-toggle:hover {
    background-color: #f9cb70;
}

.side-toggle .svg-menu {
    height: auto;
    width: 2rem;
    object-fit: cover;
}

.header-menu {
    height: 2.75rem;
    background-color: inherit;
    margin-left: auto; 
    margin-right: 1.875rem;
    display: flex;
    align-items: center;
}

.header-menu-link {
    display: block;
    text-decoration: none;
    height: 2.5rem;
}

.header-menu-icon-container {
    width: 5.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.header-menu-icon-container .svg-menu {
    margin-right: 0.25rem;
}

.account {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 6.25rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 3.75rem;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content button {
    display: block;
    width: 75%; /* Tombol mengisi lebar penuh dari dropdown */
    padding-top: 0.5rem; /* Padding untuk memperbesar tombol */
    padding-bottom: 0.5rem; /* Padding untuk memperbesar tombol */
    margin-top: 0.5rem ; /* Menghilangkan margin jika ada */
    background-color: #f82929; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none; /* Menghapus border default */
    text-align: center; /* Menyelaraskan teks ke tengah */
    font-size: 1rem; /* Ukuran font tombol */
    cursor: pointer; /* Menunjukkan kursor pointer saat hover */
    border-radius: 8px; /* Sudut tombol melengkung */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efek transisi */
}

.dropdown-content button:hover {
    background-color: #c91111; /* Warna latar belakang saat hover */
    transform: scale(1.05); /* Membesar sedikit saat hover */
}

.dropdown-content button:active {
    background-color: #b21111; /* Warna latar belakang saat ditekan */
    transform: scale(0.98); /* Tombol sedikit mengecil saat ditekan */
}

.main {
    flex: 1;
    background-color: #ffffff;
    overflow-y: auto;
    padding-top: 3rem;
}

.main-auth {
    flex: 1;
    background-color: #ffffff;
    overflow-y: auto;
    padding-top: 3rem;
}

.footer {
    height: 3.75rem;
    width: 100%;
    border-top: 2px solid #e1e4e8;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-auth {
    height: 3.75rem;
    width: 100%;
    border-top: 2px solid #e1e4e8;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin-left: 1.875rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-right: 1.875rem;
}

.sosmed .svg-sosmed {
    width: 2rem;
    height: 2rem;
}


.center-text {
    text-align: center;
}

.center-div-horizontally {
    display: flex;
    justify-content: center;
}

.center-div-vertically {
    display: flex;
    align-items: center;
}

.center-div-horizontally-vertically {
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute-tengah {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}